src/condor_contrib/aviary/etc/aviary-query.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://grid.redhat.com/aviary-query/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qry="http://query.aviary.grid.redhat.com" xmlns:ns="http://common.aviary.grid.redhat.com" targetNamespace="http://grid.redhat.com/aviary-query/" name="aviary-query">
	<wsdl:types>
		<xsd:schema targetNamespace="http://grid.redhat.com/aviary-query/">
			<xsd:import schemaLocation="aviary-query.xsd" namespace="http://query.aviary.grid.redhat.com"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetJobStatusRequest">
		<wsdl:part name="parameters" element="qry:GetJobStatus"/>
	</wsdl:message>
	<wsdl:message name="GetJobStatusResponse">
		<wsdl:part name="parameters" element="qry:GetJobStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="GetJobDetailsRequest">
		<wsdl:part name="parameters" element="qry:GetJobDetails"/>
	</wsdl:message>
	<wsdl:message name="GetJobDetailsResponse">
		<wsdl:part name="parameters" element="qry:GetJobDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetJobDataRequest">
		<wsdl:part name="parameters" element="qry:GetJobDetails"/>
	</wsdl:message>
	<wsdl:message name="GetJobDataResponse">
		<wsdl:part name="parameters" element="qry:GetJobDetailsResponse"/>
	</wsdl:message>
	<wsdl:portType name="AviaryQuery">
		<wsdl:operation name="getJobStatus">
			<wsdl:input message="tns:GetJobStatusRequest"/>
			<wsdl:output message="tns:GetJobStatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getJobDetails">
			<wsdl:input message="tns:GetJobDetailsRequest"/>
			<wsdl:output message="tns:GetJobDetailsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getJobData">
			<wsdl:input message="tns:GetJobDataRequest"/>
			<wsdl:output message="tns:GetJobDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AviaryQuerySOAPBinding" type="tns:AviaryQuery">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getJobStatus">
			<soap:operation soapAction="http://grid.redhat.com/aviary-query/job/status"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getJobDetails">
			<soap:operation soapAction="http://grid.redhat.com/aviary-query/job/details"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getJobData">
			<soap:operation soapAction="http://grid.redhat.com/aviary-query/job/data"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AviaryQueryService">
		<wsdl:port name="AviaryQuerySOAPPort" binding="tns:AviaryQuerySOAPBinding">
			<soap:address location="http://localhost:8090/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
