src/condor_contrib/aviary/etc/aviary-collector.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
/*
 * Copyright 2000-2012 Red Hat, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://grid.redhat.com/aviary-collector/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:coll="http://collector.aviary.grid.redhat.com" xmlns:ns="http://common.aviary.grid.redhat.com" targetNamespace="http://grid.redhat.com/aviary-collector/" name="aviary-collector">
	<wsdl:types>
		<xsd:schema targetNamespace="http://grid.redhat.com/aviary-collector/">
			<xsd:import schemaLocation="aviary-collector.xsd" namespace="http://collector.aviary.grid.redhat.com"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetCollectorRequest">
		<wsdl:part name="parameters" element="coll:GetCollector"/>
	</wsdl:message>
	<wsdl:message name="GetCollectorResponse">
		<wsdl:part name="parameters" element="coll:GetCollectorResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMasterRequest">
		<wsdl:part name="parameters" element="coll:GetMaster"/>
	</wsdl:message>
	<wsdl:message name="GetMasterResponse">
		<wsdl:part name="parameters" element="coll:GetMasterResponse"/>
	</wsdl:message>
    <wsdl:message name="GetMasterIDRequest">
        <wsdl:part name="parameters" element="coll:GetMasterID"/>
    </wsdl:message>
    <wsdl:message name="GetMasterIDResponse">
        <wsdl:part name="parameters" element="coll:GetMasterIDResponse"/>
    </wsdl:message>
	<wsdl:message name="GetNegotiatorRequest">
		<wsdl:part name="parameters" element="coll:GetNegotiator"/>
	</wsdl:message>
	<wsdl:message name="GetNegotiatorResponse">
		<wsdl:part name="parameters" element="coll:GetNegotiatorResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSchedulerRequest">
		<wsdl:part name="parameters" element="coll:GetScheduler"/>
	</wsdl:message>
	<wsdl:message name="GetSchedulerResponse">
		<wsdl:part name="parameters" element="coll:GetSchedulerResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSlotRequest">
		<wsdl:part name="parameters" element="coll:GetSlot"/>
	</wsdl:message>
	<wsdl:message name="GetSlotResponse">
		<wsdl:part name="parameters" element="coll:GetSlotResponse"/>
	</wsdl:message>
    <wsdl:message name="GetSlotIDRequest">
        <wsdl:part name="parameters" element="coll:GetSlotID"/>
    </wsdl:message>
    <wsdl:message name="GetSlotIDResponse">
        <wsdl:part name="parameters" element="coll:GetSlotIDResponse"/>
    </wsdl:message>
	<wsdl:message name="GetSubmitterRequest">
		<wsdl:part name="parameters" element="coll:GetSubmitter"/>
	</wsdl:message>
	<wsdl:message name="GetSubmitterResponse">
		<wsdl:part name="parameters" element="coll:GetSubmitterResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAttributesRequest">
		<wsdl:part name="parameters" element="coll:GetAttributes"/>
	</wsdl:message>
	<wsdl:message name="GetAttributesResponse">
		<wsdl:part name="parameters" element="coll:GetAttributesResponse"/>
	</wsdl:message>
	<wsdl:portType name="AviaryCollector">
		<wsdl:operation name="getCollector">
			<wsdl:input message="tns:GetCollectorRequest"/>
			<wsdl:output message="tns:GetCollectorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMaster">
			<wsdl:input message="tns:GetMasterRequest"/>
			<wsdl:output message="tns:GetMasterResponse"/>
		</wsdl:operation>
        <wsdl:operation name="getMasterID">
            <wsdl:input message="tns:GetMasterIDRequest"/>
            <wsdl:output message="tns:GetMasterIDResponse"/>
        </wsdl:operation>
		<wsdl:operation name="getNegotiator">
			<wsdl:input message="tns:GetNegotiatorRequest"/>
			<wsdl:output message="tns:GetNegotiatorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getScheduler">
			<wsdl:input message="tns:GetSchedulerRequest"/>
			<wsdl:output message="tns:GetSchedulerResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSlot">
			<wsdl:input message="tns:GetSlotRequest"/>
			<wsdl:output message="tns:GetSlotResponse"/>
		</wsdl:operation>
        <wsdl:operation name="getSlotID">
            <wsdl:input message="tns:GetSlotIDRequest"/>
            <wsdl:output message="tns:GetSlotIDResponse"/>
        </wsdl:operation>
		<wsdl:operation name="getSubmitter">
			<wsdl:input message="tns:GetSubmitterRequest"/>
			<wsdl:output message="tns:GetSubmitterResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAttributes">
			<wsdl:input message="tns:GetAttributesRequest"/>
			<wsdl:output message="tns:GetAttributesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AviaryCollectorSOAPBinding" type="tns:AviaryCollector">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCollector">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/collector"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMaster">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/master"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="getMasterID">
            <soap:operation soapAction="http://grid.redhat.com/aviary-collector/master/id"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="getNegotiator">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/negotiator"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getScheduler">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/scheduler"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSlot">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/slot"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="getSlotID">
            <soap:operation soapAction="http://grid.redhat.com/aviary-collector/slot/id"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="getSubmitter">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/submitter"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAttributes">
			<soap:operation soapAction="http://grid.redhat.com/aviary-collector/attributes"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AviaryCollectorService">
		<wsdl:port name="AviaryCollectorSOAPPort" binding="tns:AviaryCollectorSOAPBinding">
			<soap:address location="http://localhost"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
